In [2]:
import os, sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl

## Read all files into a dataframe

In [42]:
patient_df = []
features = None

for file in os.listdir('sepsis_data/'):

    with open('sepsis_data/%s' % (file)) as f:
        
        if not features:
            features = f.readline().rstrip('\n').split('|')
        else:
            # This skips the headers
            f.readline()
        
        for idx, line in enumerate(f):
            # Append patient ID and time to beginning of data vector
            pdata = [file.split('.')[0]]
            pdata.append(idx + 1)
            
            line = line.rstrip('\n')
            pdata.extend(line.split('|'))
            patient_df.append(pdata)

In [43]:
len(patient_df)

188453

In [46]:
patient_df = pd.DataFrame(patient_df, columns=['pid', 'time'] + features)
patient_df.to_csv('patient_df')

In [47]:
patient_df.head()

,pid,time,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,p01065,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,54,1,1,0,-5.76,1,0
1,p01065,2,83,100,NaN,103,68,58,NaN,NaN,...,NaN,NaN,NaN,54,1,1,0,-5.76,2,0
2,p01065,3,80,99,36.7,103,69,58,10,NaN,...,NaN,NaN,NaN,54,1,1,0,-5.76,3,0
3,p01065,4,87,99,NaN,107,76,67,NaN,NaN,...,NaN,NaN,NaN,54,1,1,0,-5.76,4,0
4,p01065,5,91,99,NaN,106,76,68,NaN,NaN,...,NaN,NaN,NaN,54,1,1,0,-5.76,5,0