In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, confusion_matrix
from lifelines import CoxPHFitter
from datautils.dataset import Dataset

In [ ]:
# dataset = Dataset("data/sepsis_data",
#                     batchSize=100,
#                     train_ratio=0.8,
#                     normalize=True,
#                     padding=False,
#                     imputeForward=False)

In [61]:
patient_df = pd.read_csv('data/temp_hazard/allpatients_forward_mean_imputed').drop(columns=['Unnamed: 0','Unit1','Unit2'])

In [62]:
mean_vals = patient_df.loc[:,'HR':'Platelets'].astype(np.float64).mean()
patient_df.fillna(mean_vals, inplace=True)
patient_df[patient_df.pid=="p00001"].head()
patient_df.shape
patient_df.HospAdmTime.unique().shape

,pid,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,...,Hgb,PTT,WBC,Fibrinogen,Platelets,Age,Gender,HospAdmTime,ICULOS,SepsisLabel
179972,p00001,83.855364,97.046165,36.797649,126.552435,86.730349,66.634428,18.653171,33.481988,-3.757377,...,10.506372,40.006666,10.499074,291.835891,199.84959,73,1,-214.64,1,0
179973,p00001,93.000000,92.500000,36.797649,110.000000,76.000000,56.000000,22.000000,33.481988,-3.757377,...,10.506372,40.006666,10.499074,291.835891,199.84959,73,1,-214.64,2,0
179974,p00001,91.000000,96.000000,36.797649,108.000000,84.500000,72.000000,23.500000,33.481988,-3.757377,...,10.506372,40.006666,10.499074,291.835891,199.84959,73,1,-214.64,3,0
179975,p00001,93.000000,98.000000,36.797649,123.000000,87.000000,61.000000,21.000000,33.481988,-3.757377,...,10.506372,40.006666,10.499074,291.835891,199.84959,73,1,-214.64,4,0
179976,p00001,93.000000,95.000000,36.797649,110.000000,81.000000,70.000000,20.000000,33.481988,-3.757377,...,10.506372,40.006666,10.499074,291.835891,199.84959,73,1,-214.64,5,0

(188453, 40)

(2976,)

In [426]:
patient_df = pd.read_csv('data/allpatients_imputed_df').drop(columns=['Unnamed: 0','Unit1','Unit2'])

In [427]:
patient_df[patient_df.pid=="p00001"].head()
patient_df.shape
patient_df.HospAdmTime.unique().shape
patient_df[patient_df.SepsisLabel == 1].HospAdmTime.unique()

,pid,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,...,Hgb,PTT,WBC,Fibrinogen,Platelets,Age,Gender,HospAdmTime,ICULOS,SepsisLabel
179972,p00001,93.0,92.5,36.5,110.0,76.0,56.0,22.0,33.517515,-3.160918,...,11.3,40.80889,10.8,296.932741,170.0,73,1,-214.64,1,0
179973,p00001,93.0,92.5,36.5,110.0,76.0,56.0,22.0,33.517515,-3.160918,...,11.3,40.80889,10.8,296.932741,170.0,73,1,-214.64,2,0
179974,p00001,91.0,96.0,36.5,108.0,84.5,72.0,23.5,33.517515,-3.160918,...,11.3,40.80889,10.8,296.932741,170.0,73,1,-214.64,3,0
179975,p00001,93.0,98.0,36.5,123.0,87.0,61.0,21.0,33.517515,-3.160918,...,11.3,40.80889,10.8,296.932741,170.0,73,1,-214.64,4,0
179976,p00001,93.0,95.0,36.5,110.0,81.0,70.0,20.0,33.517515,-3.160918,...,11.3,40.80889,10.8,296.932741,170.0,73,1,-214.64,5,0

(188453, 40)

(2976,)

array([ 0.00000e+00, -3.10000e-01, -5.39000e+01, -4.91000e+00,
       -5.00000e-02, -2.14600e+01, -1.32730e+02, -3.00470e+02,
       -1.92270e+02, -3.04000e+01, -8.01000e+00, -5.28000e+00,
       -2.43200e+01, -2.85800e+01, -4.91800e+01, -5.93740e+02,
       -2.81780e+02, -4.28000e+00, -3.53000e+01, -9.93000e+00,
       -1.20000e-01, -2.00000e-02, -5.63820e+02, -3.50260e+02,
       -3.19850e+02, -9.21000e+00, -6.03400e+01, -5.27240e+02,
       -2.47000e+00, -1.17172e+03, -7.52000e+00, -3.08740e+02,
       -1.15000e+00, -3.00000e-02, -2.60000e+00, -7.00000e-02,
       -2.52300e+01, -1.00000e-02, -7.76200e+01, -1.97780e+02,
       -7.08400e+01, -7.29000e+00, -2.58200e+01, -3.31000e+00,
       -2.66400e+01, -3.58800e+01, -9.75700e+01, -2.51100e+01,
       -2.92000e+00, -2.34000e+00, -1.01100e+01, -1.10000e-01,
       -1.19900e+01, -4.40000e-01, -9.07000e+00, -1.70000e-01,
       -2.69600e+01, -3.64940e+02, -7.21200e+01, -4.95000e+00,
       -2.91000e+00, -4.00000e-02, -8.00000e-02, -3.30000e+00,
       -1.99000e+00, -3.40000e+01, -1.14000e+00, -1.11300e+01,
       -1.51790e+02, -2.05000e+00, -8.75100e+01, -1.80000e-01,
       -1.35000e+00, -1.78560e+02, -2.00410e+02, -1.97800e+01,
       -2.38000e+00, -6.27180e+02, -2.98300e+01, -4.20000e-01,
       -4.04600e+01, -1.80570e+02, -8.16600e+01, -9.00000e-02,
       -2.85200e+01, -2.22000e+00, -1.90610e+02, -1.16900e+01,
       -4.67400e+01, -8.39000e+00, -1.92770e+02, -3.64000e+00,
       -3.02000e+00, -2.40900e+01, -1.52500e+02, -1.25120e+02,
       -7.26000e+00, -1.82000e+00, -1.69410e+02, -2.27700e+02,
       -1.15200e+01, -3.29100e+01, -1.05000e+00, -6.28300e+01,
       -1.28725e+03, -8.12000e+00, -6.44000e+00, -1.01490e+02,
       -6.85500e+01, -2.23560e+02, -2.73900e+01, -1.84770e+02,
       -4.56000e+00, -6.50000e-01, -4.25000e+00, -1.09000e+00,
       -5.81000e+00, -2.27000e+00, -2.03300e+01, -2.80010e+02,
       -6.00000e-02, -3.43000e+00, -5.10000e-01, -9.61000e+00,
       -7.81900e+01, -1.26000e+01, -4.19000e+00, -1.22000e+00,
       -7.44300e+01, -8.44100e+01, -7.12400e+01, -4.52350e+02,
       -3.98000e+00, -2.50000e-01, -1.00120e+02, -7.53000e+00,
       -1.64500e+01, -1.55100e+01, -2.97330e+02, -1.05920e+02,
       -4.21000e+00, -8.82200e+01, -9.20000e+01, -3.73300e+01,
       -6.26000e+00, -2.39010e+02, -5.80000e+00, -4.30800e+01,
       -8.36000e+00, -6.76000e+00, -6.72000e+00, -5.48900e+01,
       -2.41000e+00, -1.98790e+02, -2.40200e+01, -2.52000e+00,
       -1.64460e+02, -1.89000e+00, -5.39000e+00, -1.71030e+02,
       -1.79500e+01, -1.16000e+00, -1.91930e+02, -4.00000e-01,
       -4.03000e+00, -2.99040e+02, -2.53560e+02, -1.91600e+01,
       -7.95000e+00, -9.01000e+00, -3.11400e+01, -2.76200e+01,
       -3.03290e+02, -1.90000e+02, -2.59000e+00, -3.54000e+00,
       -1.84410e+02, -2.66760e+02, -3.97000e+00, -3.28130e+02,
       -4.47000e+00, -1.03080e+02, -3.35000e+01, -3.36000e+00,
       -1.22310e+02, -8.27500e+01, -8.37900e+01, -6.19000e+00,
       -3.93380e+02, -5.82150e+02, -1.34170e+02, -7.01800e+01,
       -6.63300e+01, -5.94000e+00, -5.45000e+00, -2.40000e-01,
       -9.26000e+00, -1.72270e+02, -1.08780e+02, -8.95600e+01,
       -1.83000e+00])

In [130]:
#patient_df = patient_df.fillna(patient_df.mean()['HR':'Platelets'])

In [63]:
patient_df[patient_df.pid=="p00001"].SepsisLabel.unique()

array([0], dtype=int64)

In [64]:
patient_df.pid.unique().shape

(5000,)

In [65]:
re_idx = patient_df.set_index(["pid","ICULOS"])
arr = re_idx.groupby("pid").apply(lambda x: x.values).values

train_raw, test_raw = train_test_split(arr, test_size=0.2)

In [66]:
train_raw[0].shape
train_raw[0][0]

(49, 38)

array([ 83.85536447,  97.046165  ,  36.7976492 , 126.55243472,
        86.73034903,  66.63442824,  18.65317139,  33.48198843,
        -3.7573769 ,  22.09433411,   0.46550563,   7.38880276,
        39.54079435,  96.55090276, 119.30067329,  22.3528374 ,
        91.18621187,   7.73577195, 105.98371503,   1.60705865,
         0.84776099, 132.09230487,   2.13049022,   2.04544313,
         3.4859577 ,   4.06307364,   1.4891377 ,   5.77915899,
        32.05628105,  10.50637232,  40.00666633,  10.49907376,
       291.83589079, 199.84958988,  61.        ,   1.        ,
        -0.3       ,   0.        ])

In [67]:
# create windowing system here
T = 6
#idx = 10
def process_data(df: pd.DataFrame, T: int) -> (pd.DataFrame, np.array):
    processed = []
    labels = []

    for idx in range(df.shape[0]):
        if df[idx][:,-1].sum() == 0:
            processed.extend([[row,7,1] for row in df[idx][:,:-1]])
        else:
            sepsis_count = 0
            for i in range(df[idx].shape[0]):
                t = (T + 1) - sepsis_count
                t = t if t >= 1 else 1
                s = 1 if t > T else 0
                processed.append([df[idx][i][:-1],t,s])
                sepsis_count += 1 if df[idx][i][-1] == 1 else 0
                
        labels.extend(df[idx][:,-1].tolist())
                
    return (pd.DataFrame(processed, columns=["x","t","s"]), np.array(labels))
# Naive windowing:
#             for i in range(df[idx].shape[0]):
#                 window = df[idx][i:i+T]
#                 matches = np.where(window[:,-1]==1)[0]
#                 if matches.size > 0:
#                     t = matches[0] + 1
#                     s = 0
#                 else:
#                     t = T + 1
#                     s = 1
#                 processed.append([df[idx][i][:-1],t,s])

# def test(df: pd.DataFrame, T: int) -> pd.DataFrame:
#     processed = []

#     #for idx in range(df.shape[0]):
#     idx = 10
#     if df[idx][:,-1].sum() == 0:
#         processed.extend([[row,7,1] for row in df[idx][:,:-1]])
#     else:
#         sepsis_count = 0
#         for i in range(df[idx].shape[0]):
#             t = (T + 1) - sepsis_count
#             t = t if t >= 1 else 1
#             s = 1 if t > T else 0
#             processed.append([df[idx][i][:-1],t,s])
#             sepsis_count += 1 if df[idx][i][-1] == 1 else 0
                
#     return pd.DataFrame(processed, columns=["x","t","s"])

# np.array(train[idx][:,:-1]).shape
# np.repeat([[7,1]],train[idx].shape[0],axis=0).shape
# t_s = np.repeat([[7,1]],train[idx].shape[0],axis=0)
# t_s
# x_idx = train[idx][:,:-1].reshape(train[idx][:,:-1].shape[0],1,-1)
# x_idx.shape
# processed_idx = np.concatenate((x_idx,t_s),axis=1)
# processed_idx.shape
#if train[idx][:,-1].sum() == 0:
# a = np.ones((4,1)) * 3
# b = np.repeat([[7,1]],4,axis=0)    
# a
# b
# np.hstack((a,b))
#pd.DataFrame([[train[idx][i][:-1],t,s]], columns=["x","t","s"])
# for idx in range(4000):
#     #window = train[idx][i:i+T]
#     if train[idx][:,-1].sum() > 0:
#         break

In [68]:
X_train, y_train = process_data(train_raw, T)
X_test, y_test = process_data(test_raw, T)

In [69]:
X_train.head()

                                                   x  t  s
0  [83.85536447147673, 97.04616499808523, 36.7976...  7  1
1  [73.5, 99.5, 36.79764920289012, 157.0, 107.0, ...  7  1
2  [75.0, 98.0, 36.79764920289012, 158.0, 113.0, ...  7  1
3  [77.0, 100.0, 36.79764920289012, 155.0, 105.0,...  7  1
4  [82.0, 100.0, 36.79764920289012, 160.0, 88.0, ...  7  1

In [70]:
inverse_s = 1-X_train.s
X_train_cph = pd.DataFrame(X_train.x.values.tolist(), columns=patient_df.columns[1:-2])
X_train_cph["s"] = inverse_s
X_train_cph["w"] = (inverse_s * 70) + X_train.s
X_train_cph["t"] = X_train.t

In [71]:
cph = CoxPHFitter(penalizer=0.2)
cph.fit(X_train_cph, duration_col='t', event_col='s', weights_col='w', step_size=0.070, show_progress=True, robust=False)

Iteration 1: norm_delta = 0.04777, step_size = 0.0700, ll = -1643199.00616, newton_decrement = 23239.90719, seconds_since_start = 0.1
Iteration 2: norm_delta = 0.04351, step_size = 0.0700, ll = -1640061.11540, newton_decrement = 19139.67232, seconds_since_start = 0.2
Iteration 3: norm_delta = 0.03996, step_size = 0.0700, ll = -1637476.54266, newton_decrement = 15912.68159, seconds_since_start = 0.4
Iteration 4: norm_delta = 0.04426, step_size = 0.0840, ll = -1635327.55606, newton_decrement = 13319.96019, seconds_since_start = 0.5
Iteration 5: norm_delta = 0.03951, step_size = 0.0823, ll = -1633184.78452, newton_decrement = 10806.64805, seconds_since_start = 0.7
Iteration 6: norm_delta = 0.03544, step_size = 0.0807, ll = -1631479.43749, newton_decrement = 8855.27400, seconds_since_start = 0.8
Iteration 7: norm_delta = 0.03904, step_size = 0.0968, ll = -1630108.70351, newton_decrement = 7316.47402, seconds_since_start = 1.0
Iteration 8: norm_delta = 0.03452, step_size = 0.0949, ll = -1628761.18082, newton_decrement = 5828.46475, seconds_since_start = 1.1
Iteration 9: norm_delta = 0.03061, step_size = 0.0930, ll = -1627708.03589, newton_decrement = 4682.83341, seconds_since_start = 1.2
Iteration 10: norm_delta = 0.03330, step_size = 0.1116, ll = -1626877.94538, newton_decrement = 3790.59001, seconds_since_start = 1.4
Iteration 11: norm_delta = 0.02897, step_size = 0.1093, ll = -1626079.54032, newton_decrement = 2941.41131, seconds_since_start = 1.6
Iteration 12: norm_delta = 0.02527, step_size = 0.1072, ll = -1625471.63250, newton_decrement = 2301.05646, seconds_since_start = 1.8
Iteration 13: norm_delta = 0.02705, step_size = 0.1286, ll = -1625005.01850, newton_decrement = 1813.32597, seconds_since_start = 2.0
Iteration 14: norm_delta = 0.02307, step_size = 0.1260, ll = -1624568.78171, newton_decrement = 1360.45118, seconds_since_start = 2.2
Iteration 15: norm_delta = 0.01973, step_size = 0.1235, ll = -1624247.58266, newton_decrement = 1029.06657, seconds_since_start = 2.4
Iteration 16: norm_delta = 0.02072, step_size = 0.1482, ll = -1624009.15215, newton_decrement = 784.28923, seconds_since_start = 2.5
Iteration 17: norm_delta = 0.01727, step_size = 0.1452, ll = -1623793.96969, newton_decrement = 564.33515, seconds_since_start = 2.7
Iteration 18: norm_delta = 0.01444, step_size = 0.1423, ll = -1623641.98239, newton_decrement = 409.58294, seconds_since_start = 2.8
Iteration 19: norm_delta = 0.01484, step_size = 0.1708, ll = -1623533.70633, newton_decrement = 299.67576, seconds_since_start = 3.0
Iteration 20: norm_delta = 0.01204, step_size = 0.1674, ll = -1623440.09949, newton_decrement = 204.91214, seconds_since_start = 3.2
Iteration 21: norm_delta = 0.00981, step_size = 0.1640, ll = -1623377.25369, newton_decrement = 141.44049, seconds_since_start = 3.3
Iteration 22: norm_delta = 0.00982, step_size = 0.1968, ll = -1623334.66308, newton_decrement = 98.50500, seconds_since_start = 3.5
Iteration 23: norm_delta = 0.00772, step_size = 0.1929, ll = -1623299.70521, newton_decrement = 63.31970, seconds_since_start = 3.7
Iteration 24: norm_delta = 0.00610, step_size = 0.1890, ll = -1623277.63463, newton_decrement = 41.13628, seconds_since_start = 3.8
Iteration 25: norm_delta = 0.00593, step_size = 0.2268, ll = -1623263.55262, newton_decrement = 26.99726, seconds_since_start = 4.0
Iteration 26: norm_delta = 0.00550, step_size = 0.2722, ll = -1623252.69387, newton_decrement = 16.10429, seconds_since_start = 4.1
Iteration 27: norm_delta = 0.00480, step_size = 0.3266, ll = -1623245.11973, newton_decrement = 8.51268, seconds_since_start = 4.3
Iteration 28: norm_delta = 0.00387, step_size = 0.3920, ll = -1623240.46656, newton_decrement = 3.85231, seconds_since_start = 4.5
Iteration 29: norm_delta = 0.00282, step_size = 0.4704, ll = -1623238.03816, newton_decrement = 1.42177, seconds_since_start = 4.6
Iteration 30: norm_delta = 0.00179, step_size = 0.5644, ll = -1623237.01493, newton_decrement = 0.39826, seconds_since_start = 4.8
Iteration 31: norm_delta = 0.00094, step_size = 0.6773, ll = -1623236.69202, newton_decrement = 0.07547, seconds_since_start = 4.9
Iteration 32: norm_delta = 0.00036, step_size = 0.8128, ll = -1623236.62429, newton_decrement = 0.00785, seconds_since_start = 5.1
Iteration 33: norm_delta = 0.00008, step_size = 0.9754, ll = -1623236.61667, newton_decrement = 0.00028, seconds_since_start = 5.2
Iteration 34: norm_delta = 0.00000, step_size = 1.0000, ll = -1623236.61638, newton_decrement = 0.00000, seconds_since_start = 5.4
Convergence completed after 34 iterations.

In [72]:
#cph.check_assumptions(X_train_cph,show_plots=False,plot_n_bootstraps=0)
cph.print_summary()

<lifelines.CoxPHFitter: fitted with 150470 observations, 148556 censored>
      duration col = 't'
         event col = 's'
       weights col = 'w'
         penalizer = 0.2
number of subjects = 150470
  number of events = 1914
    log-likelihood = -1623236.62
  time fit was run = 2019-04-04 06:44:44 UTC

---
                  coef  exp(coef)  se(coef)      z      p  -log2(p)  lower 0.95  upper 0.95
HR                0.01       1.01      0.00  72.18 <0.005       inf        0.01        0.01
O2Sat             0.01       1.01      0.00   7.72 <0.005     46.28        0.01        0.01
Temp              0.18       1.20      0.00  48.58 <0.005       inf        0.17        0.19
SBP              -0.00       1.00      0.00 -18.82 <0.005    260.08       -0.00       -0.00
MAP               0.00       1.00      0.00   2.22   0.03      5.26        0.00        0.00
DBP              -0.01       0.99      0.00 -15.53 <0.005    178.26       -0.01       -0.01
Resp              0.00       1.00      0.00   5.55 <0.005     25.03        0.00        0.00
EtCO2            -0.01       0.99      0.00 -17.96 <0.005    237.06       -0.01       -0.01
BaseExcess        0.08       1.09      0.00  28.18 <0.005    578.01        0.08        0.09
HCO3             -0.06       0.94      0.00 -12.46 <0.005    115.96       -0.07       -0.05
FiO2              0.78       2.18      0.02  41.67 <0.005       inf        0.74        0.81
pH               -0.13       0.88      0.06  -2.05   0.04      4.63       -0.26       -0.01
PaCO2            -0.00       1.00      0.00  -6.60 <0.005     34.52       -0.00       -0.00
SaO2             -0.01       0.99      0.00  -9.35 <0.005     66.64       -0.01       -0.01
AST               0.00       1.00      0.00  27.57 <0.005    553.54        0.00        0.00
BUN               0.01       1.02      0.00  86.55 <0.005       inf        0.01        0.02
Alkalinephos     -0.00       1.00      0.00  -2.12   0.03      4.89       -0.00       -0.00
Calcium          -0.06       0.95      0.00 -53.08 <0.005       inf       -0.06       -0.05
Chloride          0.01       1.01      0.00   8.05 <0.005     50.07        0.01        0.01
Creatinine       -0.03       0.97      0.00 -13.40 <0.005    133.68       -0.03       -0.02
Bilirubin_direct -0.04       0.96      0.01  -7.10 <0.005     39.53       -0.05       -0.03
Glucose           0.00       1.00      0.00   5.04 <0.005     21.00        0.00        0.00
Lactate          -0.01       0.99      0.00  -5.39 <0.005     23.76       -0.02       -0.01
Magnesium         0.08       1.08      0.01   8.43 <0.005     54.74        0.06        0.10
Phosphate        -0.08       0.93      0.00 -23.66 <0.005    408.75       -0.08       -0.07
Potassium        -0.09       0.91      0.01 -17.35 <0.005    221.68       -0.10       -0.08
Bilirubin_total   0.02       1.02      0.00  10.73 <0.005     86.87        0.01        0.02
TroponinI         0.00       1.00      0.00  20.72 <0.005    314.42        0.00        0.00
Hct               0.06       1.06      0.00  27.96 <0.005    569.05        0.05        0.06
Hgb              -0.19       0.82      0.01 -32.91 <0.005    786.50       -0.21       -0.18
PTT               0.00       1.00      0.00  11.76 <0.005    103.61        0.00        0.00
WBC               0.01       1.01      0.00  45.05 <0.005       inf        0.01        0.01
Fibrinogen        0.00       1.00      0.00  17.41 <0.005    223.15        0.00        0.00
Platelets         0.00       1.00      0.00   8.74 <0.005     58.64        0.00        0.00
Age              -0.00       1.00      0.00  -5.56 <0.005     25.13       -0.00       -0.00
Gender            0.01       1.01      0.01   1.71   0.09      3.52       -0.00        0.02
HospAdmTime       0.00       1.00      0.00  17.68 <0.005    229.90        0.00        0.00
---
Concordance = 0.71
Log-likelihood ratio test = 39924.78 on 37 df, -log2(p)=inf

In [73]:
train_preds = 1-cph.predict_survival_function(X_train_cph.drop(columns=["s","t"]),times=[6])

In [74]:
lst = [1 if i >=0.5 else 0 for i in train_preds]
((lst == y_train).sum() / y_train.shape[0]) * 100
roc_auc_score(y_train, train_preds)

82.07682594537117

0.7061080007484359

In [75]:
train_preds2 = cph.predict_cumulative_hazard(X_train_cph.drop(columns=["s","t"]),times=[6])

In [76]:
lst = [1 if i >=0.5 else 0 for i in train_preds2]
((lst == y_train).sum() / y_train.shape[0]) * 100
roc_auc_score(y_train, train_preds2)

59.18920715092709

0.7061080007484359

In [77]:
train_preds3 = cph.predict_partial_hazard(X_train_cph.drop(columns=["s","t"]))
lst = [1 if i >=0.5 else 0 for i in train_preds3]
((lst == y_train).sum() / y_train.shape[0]) * 100
roc_auc_score(y_train, train_preds3)

98.57646042400478

0.7061080007484359

In [79]:
X_test_cph = pd.DataFrame(X_test.x.values.tolist(), columns=patient_df.columns[1:-2])

In [80]:
test_preds = 1-cph.predict_survival_function(X_test_cph,times=[6])
lst = [1 if i >=0.5 else 0 for i in test_preds]
((lst == y_test).sum() / y_test.shape[0]) * 100
round(roc_auc_score(y_test, test_preds), 3)

80.01737619461338

0.673

In [81]:
def get_metrics(ty, py, threshold=0.5):
    print('-'*20)
    auc = roc_auc_score(ty, py)
    print(f"AUC = {auc}")
    c_m = confusion_matrix(ty, np.array(py > threshold).astype(int))
    print(c_m)
    PPV = c_m[1,1] / (c_m[1,1] + c_m[0,1])
    print(f"PPV/Precision = {PPV}")
    TPR = c_m[1,1] / c_m[1].sum()
    print(f"TPR/Sensitivity/Recall = {TPR}")
    TNR = c_m[0,0] / c_m[0].sum()
    print(f"TNR/Specificity = {TNR}")

In [83]:
get_metrics(y_test, test_preds, threshold=0.5)

--------------------
AUC = 0.6725981960102807
[[30171  7331]
 [  259   222]]
PPV/Precision = 0.029392294452535415
TPR/Sensitivity/Recall = 0.46153846153846156
TNR/Specificity = 0.8045170924217375

In [445]:
# test simple cphfitter from lifelines

# implement actual cox-weibull from "scratch"?

Mean Imputation:
--------------------
AUC = 0.6975819347308856
[[30682  6691]
 [  380   271]]
PPV/Precision = 0.0389255960930767
TPR/Sensitivity/Recall = 0.4162826420890937
TNR/Specificity = 0.820967008268001

Forward Imputation:
--------------------
AUC = 0.6725981960102807
[[30171  7331]
 [  259   222]]
PPV/Precision = 0.029392294452535415
TPR/Sensitivity/Recall = 0.46153846153846156
TNR/Specificity = 0.8045170924217375